<%- model_class = Transport -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:current_lat) %></th>
      <th><%= model_class.human_attribute_name(:current_lon) %></th>
      <th><%= model_class.human_attribute_name(:temperature) %></th>
      <th><%= model_class.human_attribute_name(:temperature_date) %></th>
      <th><%= model_class.human_attribute_name(:identification) %></th>
      <th><%= model_class.human_attribute_name(:phone_number) %></th>
      <th><%= model_class.human_attribute_name(:driver) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @transports.each do |transport| %>
      <tr>
        <td><%= link_to transport.id, transport_path(transport) %></td>
        <td><%= transport.number %></td>
        <td><%= transport.current_lat %></td>
        <td><%= transport.current_lon %></td>
        <td><%= transport.temperature %></td>
        <td><%= transport.temperature_date %></td>
        <td><%= transport.identification %></td>
        <td><%= transport.phone_number %></td>
        <td><%= transport.driver %></td>
        <td><%=l transport.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_transport_path(transport), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      transport_path(transport),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_transport_path,
            :class => 'btn btn-primary' %>
