<div class="container-fluid">
  <h3> Transporte </h3>
  <div class="row">
    <div class="col-xs-12 col-lg-6 padded">
      <div class="row"> 
        <div class="col-xs-12 well">
          <div id="map-data" data-lat=" <%= @transport.current_lat %> " data-lon=" <%= @transport.current_lon %> " data-type="transport" > </div>
          <div id="map-small" style="width:100%;height:400px;"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-4 padded">
      <div class="row"> 
        <div class="col-xs-6" style="padding:0 30px 0 15px;">
          <div class="row">
            <div class="col-xs-12 well" style="padding: 30px 10px 30px 10px;">
              <span class="icon-thermometer-half custom-icon <%= temperature_icon_color(@transport.temperature) %> "></span>
              <span style="font-size:20px;"> &nbsp; <%= @transport.temperature %>°C </span>
            </div>
          </div>
        </div>
        <div class="col-xs-6" style="padding:0 15px 0 30px;">
          <div class="row">
            <div class="col-xs-12 well" style="padding: 30px 10px 30px 10px;">
              <span class="icon-pub custom-icon brown"></span>
              <span style="font-size:20px;"> &nbsp; <%= @transport.barrels.try(:count) %> </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> 
        <div class="col-xs-12 well">
          <dl class="dl-horizontal">
            <dt><strong><%= t('models_attributes.transport.number').capitalize %>:</strong></dt>
            <dd><%= @transport.number %></dd>
            <dt><strong><%= t('models_attributes.transport.current_lat').capitalize %>:</strong></dt>
            <dd><%= @transport.current_lat %></dd>
            <dt><strong><%= t('models_attributes.transport.current_lon').capitalize %>:</strong></dt>
            <dd><%= @transport.current_lon %></dd>
            <dt><strong><%= t('models_attributes.transport.temperature_date').capitalize %>:</strong></dt>
            <dd><%= @transport.temperature_date %></dd>
            <dt><strong><%= t('models_attributes.transport.identification').capitalize %>:</strong></dt>
            <dd><%= @transport.identification %></dd>
            <dt><strong><%= t('models_attributes.transport.phone_number').capitalize %>:</strong></dt>
            <dd><%= @transport.phone_number %></dd>
            <dt><strong><%= t('models_attributes.transport.driver').capitalize %>:</strong></dt>
            <dd><%= @transport.driver %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <%= render :partial => 'barrels_list' %>
