<div class="container-fluid">
  <h3> Cervecería  </h3>
  <div class="row">
    <div class="col-xs-12 col-lg-6 padded"> 
      <div class="row"> 
        <div class="col-xs-12 well">
          <div id="map-data" data-lat=" <%= @store.lat %> " data-lon=" <%= @store.lon %> " data-type="store" > </div>
          <div id="map-small" style="width:100%;height:400px;"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 padded"> 
      <div class="row"> 
        <div class="col-xs-12 well">
          <dl class="dl-horizontal">
            <dt><strong><%= t('models_attributes.store.name').capitalize %>:</strong></dt>
            <dd><%= @store.name %></dd>
            <dt><strong><%= t('models_attributes.store.lat').capitalize %>:</strong></dt>
            <dd><%= @store.lat %></dd>
            <dt><strong><%= t('models_attributes.store.lon').capitalize %>:</strong></dt>
            <dd><%= @store.lon %></dd>
            <dt><strong><%= t('models_attributes.store.social_reason').capitalize %>:</strong></dt>
            <dd><%= @store.social_reason %> </dd>
            <dt><strong><%= t('models_attributes.store.cuit').capitalize %>:</strong></dt>
            <dd><%= @store.cuit %></dd>
            <dt><strong><%= t('models_attributes.store.email').capitalize %>:</strong></dt>
            <dd><%= @store.email %></dd>
            <dt><strong><%= t('models_attributes.store.phone_number').capitalize %>:</strong></dt>
            <dd><%= @store.phone_number %></dd>
            <dt><strong><%= t('models_attributes.store.last_heartbeat').capitalize %>:</strong></dt>
            <dd><%= @store.last_heartbeat %></dd>
            <dt><strong><%= t('models_attributes.store.type').capitalize %>:</strong></dt>
            <dd><%= @store.store_type %></dd>
            <dt><strong><%= t('miscellaneous.barrel_quantity').capitalize %>:</strong></dt>
            <dd><%= @store.barrels.try(:count) %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <%= render :partial => 'barrels_list' %>
