<div class="container-fluid">
  <h3> Camión  </h3>
  <div class="row">
    <div class="col-xs-12 col-lg-6 padded"> 
      <div class="row"> 
        <div class="col-xs-12 well">
          <div id="map-data" data-lat=" <%= @transport.current_lat %> " data-lon=" <%= @transport.current_lon %> " data-type="transport" > </div>
          <div id="map-small" style="width:100%;height:400px;"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-3 padded"> 
      <div class="row"> 
        <div class="col-xs-12 well">
          <dl class="dl-horizontal">
            <dt><strong><%= t('models_attributes.transport.number').capitalize %>:</strong></dt>
            <dd><%= @transport.number %></dd>
            <dt><strong><%= t('models_attributes.transport.current_lat').capitalize %>:</strong></dt>
            <dd><%= @transport.current_lat %></dd>
            <dt><strong><%= t('models_attributes.transport.current_lon').capitalize %>:</strong></dt>
            <dd><%= @transport.current_lon %></dd>
            <dt><strong><%= t('models_attributes.transport.temperature').capitalize %>:</strong></dt>
            <dd><%= @transport.temperature %> °C</dd>
            <dt><strong><%= t('models_attributes.transport.temperature_date').capitalize %>:</strong></dt>
            <dd><%= @transport.temperature_date %></dd>
            <dt><strong><%= t('models_attributes.transport.identification').capitalize %>:</strong></dt>
            <dd><%= @transport.identification %></dd>
            <dt><strong><%= t('models_attributes.transport.phone_number').capitalize %>:</strong></dt>
            <dd><%= @transport.phone_number %></dd>
            <dt><strong><%= t('models_attributes.transport.driver').capitalize %>:</strong></dt>
            <dd><%= @transport.driver %></dd>
            <dt><strong><%= t('miscellaneous.barrel_quantity').capitalize %>:</strong></dt>
            <dd><%= @transport.barrels.try(:count) %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <h3> Barriles </h3>
  <div class="row">
    <% @barrels.each do |barrel| %>
      <div class="col-md-10 col-md-offset-1 col-lg-4 col-lg-offset-0" style="padding:0 30px 0 30px;"> 
        <div class="row"> 
          <div class="col-xs-12 well"> 
            <dl class="dl-horizontal">
              <dt><strong class="to"><%= t('models_attributes.barrel.type').capitalize %>:</strong></dt>
              <dd><%= barrel.type %></dd>
              <dt><strong class="to"><%= t('models_attributes.barrel.number').capitalize %>:</strong></dt>
              <dd><%= barrel.number %></dd>
              <dt><strong class="to"><%= t('models_attributes.barrel.content').capitalize %>:</strong></dt>
              <dd><%= barrel.content %></dd>
              <dt><strong class="to"><%= t('models_attributes.barrel.type_details').capitalize %>:</strong></dt>
              <dd><%= barrel.type_details %></dd>
              <dt><strong class="to"><%= t('models_attributes.barrel.rnpa').capitalize %>:</strong></dt>
              <dd><%= barrel.rnpa %></dd>
              <dt><strong class="to"><%= t('models_attributes.barrel.description').capitalize %>:</strong></dt>
              <dd><%= barrel.description %></dd>
              <dt><strong class="to"><%= t('models_attributes.barrel.alcohol').capitalize %>:</strong></dt>
              <dd><%= barrel.alcohol %></dd>
              <dt><strong class="to"><%= t('models_attributes.barrel.ibu').capitalize %>:</strong></dt>
              <dd><%= barrel.ibu %></dd>
              <dt><strong class="to"><%= t('models_attributes.barrel.ingredients').capitalize %>:</strong></dt>
              <dd><%= barrel.ingredients %></dd>
              <dt><strong class="to"><%= t('models_attributes.barrel.elaboration_date').capitalize %>:</strong></dt>
              <dd><%= barrel.elaboration_date %></dd>
              <dt><strong class="to"><%= t('models_attributes.barrel.expiration_date').capitalize %>:</strong></dt>
              <dd><%= barrel.expiration_date %></dd>
              <dt><strong class="to"><%= t('models_attributes.barrel.lot').capitalize %>:</strong></dt>
              <dd><%= barrel.lot %></dd>
              <dt><strong class="to"><%= t('models_attributes.barrel.comments').capitalize %>:</strong></dt>
              <dd><%= barrel.comments %></dd>
              <dt><strong class="to"><%= t('models_attributes.barrel.transport').capitalize %>:</strong></dt>
              <dd><%= barrel.transport.try(:number) %></dd>
              <dt><strong class="to"><%= t('miscellaneous.actual_temperature').capitalize %>:</strong></dt>
              <dd><%= barrel.last_temperature %> °C </dd>
            </dl>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
