<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-10">
      <h3> <%= t("miscellaneous.#{@store.store_type}").capitalize %>  </h3>
      <br>
    </div>
    <div class="col-xs-12 col-md-2">
      <%= link_to main_path, :class => 'btn btn-raised btn-lg btn-primary pull-right btn-block' do %>
        <i class="fa fa-arrow-left"></i>
        <span> <%= t('buttons.back') %> </span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-6 padded"> 
      <div class="row"> 
        <div class="col-xs-12 well">
          <div id="map-data" data-lat=" <%= @store.lat %> " data-lon=" <%= @store.lon %> " data-type="<%= @store.store_type %>" > </div>
          <div id="map-small" style="width:100%;height:400px;"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-4 padded"> 
      <div class="row"> 
        <div class="col-xs-6" style="padding:0 30px 0 15px;">
          <div class="row">
            <div class="col-xs-12 well" style="padding: 30px 10px 30px 10px;">
              <span class="icon-thermometer-half custom-icon <%= temperature_icon_color(@store.temperature) %> "></span>
              <span style="font-size:20px;"> &nbsp; <%= @store.temperature %>°C </span>
            </div>
          </div>
        </div>
        <div class="col-xs-6" style="padding:0 15px 0 30px;">
          <div class="row">
            <div class="col-xs-12 well" style="padding: 30px 10px 30px 10px;">
              <span class="icon-pub custom-icon brown"></span>
              <span style="font-size:20px;"> &nbsp; <%= @store.barrels.try(:count) %> </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 well">
          <dl class="dl-horizontal">
            <dt><strong><%= t('models_attributes.store.name').capitalize %>:</strong></dt>
            <dd><%= @store.name %></dd>
            <dt><strong><%= t('models_attributes.store.lat').capitalize %>:</strong></dt>
            <dd><%= @store.lat %></dd>
            <dt><strong><%= t('models_attributes.store.lon').capitalize %>:</strong></dt>
            <dd><%= @store.lon %></dd>
            <dt><strong><%= t('models_attributes.store.social_reason').capitalize %>:</strong></dt>
            <dd><%= @store.social_reason %> </dd>
            <dt><strong><%= t('models_attributes.store.cuit').capitalize %>:</strong></dt>
            <dd><%= @store.cuit %></dd>
            <dt><strong><%= t('models_attributes.store.email').capitalize %>:</strong></dt>
            <dd><%= @store.email %></dd>
            <dt><strong><%= t('models_attributes.store.phone_number').capitalize %>:</strong></dt>
            <dd><%= @store.phone_number %></dd>
            <dt><strong><%= t('models_attributes.store.last_heartbeat').capitalize %>:</strong></dt>
            <dd><%= @store.last_heartbeat %></dd>
            <dt><strong><%= t('models_attributes.store.store_type').capitalize %>:</strong></dt>
            <dd><%= store_type @store.store_type %></dd>
            <dt><strong><%= t('miscellaneous.barrel_quantity').capitalize %>:</strong></dt>
            <dd><%= @store.barrels.try(:count) %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <%= render :partial => 'barrels_list' %>
