<div class="container-fluid">
  <div class="row"> 
    <div class="col-xs-12 col-md-10">
      <div class="page-header">
        <h3><%=t '.title', :default => t('models_names.barrels').capitalize %></h3>
      </div>
    </div>
    <div class="col-xs-12 col-md-2">
      <%= link_to new_barrel_path, :class => 'btn btn-primary btn-lg btn-raised pull-right btn-block' do %>
        <i class="fa fa-plus"></i>
        <span>  <%= "#{t('buttons.new')} #{t('models_names.barrel')}" %> </span>
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('models_attributes.barrel.barrel_type').capitalize %></th>
          <th><%= t('models_attributes.barrel.number').capitalize %></th>
          <th><%= t('models_attributes.barrel.content').capitalize %></th>
          <th><%= t('models_attributes.barrel.alcohol').capitalize %></th>
          <th><%= t('models_attributes.barrel.ingredients').capitalize %></th>
          <th><%= t('models_attributes.barrel.elaboration_date').capitalize %></th>
          <th><%= t('models_attributes.barrel.expiration_date').capitalize %></th>
          <th><%= t('models_attributes.barrel.lot').capitalize %></th>
          <th><%= t('models_attributes.barrel.battery_level').capitalize %></th>
          <th><%= t('models_attributes.barrel.owner')%></th>
          <th><%=t '.actions', :default => t("miscellaneous.actions").capitalize %></th>
        </tr>
      </thead>
      <tbody>
        <% @barrels.each do |barrel| %>
          <tr>
            <td><%= barrel.barrel_type %></td>
            <td><%= barrel.number %></td>
            <td><%= barrel.content %></td>
            <td><%= barrel.alcohol %></td>
            <td><%= barrel.ingredients %></td>
            <td><%= barrel.elaboration_date %></td>
            <td><%= barrel.expiration_date %></td>
            <td><%= barrel.lot %></td>
            <td><%= barrel.battery_level %>%</td>
            <td>
              <% if barrel.transport %>
                <%= "Transporte #{barrel.transport.number}" %>
              <% else %>
                <%= "#{barrel.store.name}" %>
              <% end %>
            </td>
            <td>
              <%= link_to t('.show', :default => t("buttons.show")),
                barrel_path(barrel), :class => 'btn btn-default btn-xs btn-raised' %>
              <%= link_to t('.edit', :default => t("buttons.edit")),
                edit_barrel_path(barrel), :class => 'btn btn-default btn-xs btn-raised' %>
              <%= link_to t('.destroy', :default => t("buttons.delete")),
                barrel_path(barrel),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t('buttons.delete', :default => 'Are you sure?')) },
                :class => 'btn btn-xs btn-raised btn-danger' %>
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
