<div class="container-fluid">
  <div class="col-xs-12 <%=  params[:source] ? 'col-md-10' : 'col-md-6' %>"> 
    <div class="page-header">
      <h1><%=t '.title', :default => t('models_names.barrel').capitalize %></h1>
    </div>
  </div>
  <div class="col-xs-12 <%=  params[:source] ? 'col-md-2' : 'col-md-6' %>"> 
    <% if params[:source]  %>
      <%= link_to params[:source], :class => 'btn btn-raised btn-lg btn-primary pull-right btn-block' do %>
        <i class="fa fa-arrow-left"> </i>
        <span> Volver </span>
      <% end %>
    <% else %>
      <div class="pull-right">
        <%= link_to t('.back', :default => t("buttons.back")),
          barrels_path, :class => 'btn btn-default btn-raised'  %>
        <%= link_to t('.edit', :default => t("buttons.edit")),
          edit_barrel_path(@barrel), :class => 'btn btn-default btn-raised' %>
        <%= link_to t('.destroy', :default => t("buttons.delete")),
          barrel_path(@barrel),
          :method => 'delete',
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-danger btn-raised' %>
    </div>
  <% end %>
  </div>
  <div class="col-xs-12 well"> 
    <div class="row">
      <div class="col-xs-12 col-md-5"> 
        <dl class="dl-horizontal">
          <dt><strong><%= t('models_attributes.barrel.barrel_type').capitalize %>:</strong></dt>
          <dd><%= @barrel.barrel_type %></dd>
          <dt><strong><%= t('models_attributes.barrel.number').capitalize %>:</strong></dt>
          <dd><%= @barrel.number %></dd>
          <dt><strong><%= t('models_attributes.barrel.mac_address').capitalize %>:</strong></dt>
          <dd><%= @barrel.mac_address %></dd>
          <dt><strong><%= t('models_attributes.barrel.content').capitalize %>:</strong></dt>
          <dd><%= @barrel.content %></dd>
          <dt><strong><%= t('models_attributes.barrel.battery_level').capitalize %>:</strong></dt>
          <dd><%= @barrel.battery_level.try(:floor) %>%</dd>
          <dt><strong><%= t('models_attributes.barrel_status.state').capitalize %>:</strong></dt>
          <dd><%= barrel_state_label @barrel.last_state %></dd>
          <dt><strong><%= t('models_attributes.barrel.elaboration_date').capitalize %>:</strong></dt>
          <dd><%= @barrel.type_details %></dd>
          <dt><strong><%= t('models_attributes.barrel.rnpa').capitalize %>:</strong></dt>
          <dd><%= @barrel.rnpa %></dd>
          <dt><strong><%= t('models_attributes.barrel.description').capitalize %>:</strong></dt>
          <dd><%= @barrel.description %></dd>
          <dt><strong><%= t('models_attributes.barrel.alcohol').capitalize %>:</strong></dt>
          <dd><%= @barrel.alcohol %></dd>
          <dt><strong><%= t('models_attributes.barrel.ibu').capitalize %>:</strong></dt>
          <dd><%= @barrel.ibu %></dd>
          <dt><strong><%= t('models_attributes.barrel.ingredients').capitalize %>:</strong></dt>
          <dd><%= @barrel.ingredients %></dd>
          <dt><strong><%= t('models_attributes.barrel.elaboration_date').capitalize %>:</strong></dt>
          <dd><%= @barrel.elaboration_date %></dd>
          <dt><strong><%= t('models_attributes.barrel.expiration_date').capitalize %>:</strong></dt>
          <dd><%= @barrel.expiration_date %></dd>
          <dt><strong><%= t('models_attributes.barrel.lot').capitalize %>:</strong></dt>
          <dd><%= @barrel.lot %></dd>
          <dt><strong><%= t('models_attributes.barrel.comments').capitalize %>:</strong></dt>
          <dd><%= @barrel.comments %></dd>
          <dt><strong><%= t('models_attributes.barrel.owner').capitalize %>:</strong></dt>
          <dd>
            <% if @barrel.transport %>
              <%= "Transporte #{@barrel.transport.number}" %>
            <% else %>
              <%= "#{@barrel.store.name}" %>
            <% end %>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-7 "> 
        <div id="data-chart" data-set="<%= @data %>" data-labels="<%= @labels %>"> </div>
        <canvas id="temperaturesChart" height="140"> </canvas>
      </div>

    </div>
  </div>

</div>

