<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-10">
      <div class="page-header">
        <h3><%=t '.title', :default => t('models_names.stores').capitalize %></h3>
      </div>
    </div>
    <div class="col-xs-12 col-md-2">
      <%= link_to new_store_path, :class => 'btn btn-primary btn-lg btn-raised pull-right btn-block' do %>
        <i class="fa fa-plus"></i>
        <span>  <%= "#{t('buttons.new')} #{t('models_names.store')}" %> </span>
      <% end %>
    </div>
    <div class="col-lg-12">  
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t('models_attributes.store.name').capitalize %></th>
            <th><%= t('models_attributes.store.address').capitalize %></th>
            <th><%= t('models_attributes.store.social_reason').capitalize %></th>
            <th><%= t('models_attributes.store.phone_number').capitalize %></th>
            <th><%= t('models_attributes.store.store_type').capitalize %></th>
            <th><%=t '.actions', :default => t("miscellaneous.actions").capitalize %></th>
          </tr>
        </thead>
        <tbody>
          <% @stores.each do |store| %>
            <tr>
              <td><%= store.name %></td>
              <td><%= store.address %></td>
              <td><%= store.social_reason %></td>
              <td><%= store.phone_number %></td>
              <td><%= store_type store.store_type %></td>
              <td>
                <%= link_to t('.show', :default => t("buttons.show")),
                  store_path(store), :class => 'btn btn-default btn-xs btn-raised' %>
                <%= link_to t('.edit', :default => t("buttons.edit")),
                  edit_store_path(store), :class => 'btn btn-default btn-xs btn-raised' %>
                <%= link_to t('.destroy', :default => t("buttons.delete")),
                  store_path(store),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t('buttons.delete', :default => 'Are you sure?')) },
                  :class => 'btn btn-xs btn-raised btn-danger' %>
            </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

